.cont{
    width: 70%;
    margin: 5% auto;
    margin-bottom: 2%;
}
.contain{
    margin-top: 6%;
    margin-bottom: 6%;
}

.form-g{
    margin: 6% 10%;
}

.text{
    padding:3% 0;
}

.button{
    padding: 2%;
    width: 70%;
    margin: 0 auto;
    margin-bottom: 3%;
}